* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #cecece;
  padding: 10px;
}

main {
  display: flex;
  gap: 20px;
  margin: 20px;
  height: 85vh;
}

.m {
  margin: 20px;
}

.left {
  height: 100%;
  width: 20vw;
  display: inline;
  background-color: #cecece;
}

.right {
  height: 100%;
  display: inline;
  float: right;
  width: calc(100vw - 20vw - 20px);
}

h2 {
  text-align: center;
  padding: 10px;
}

.box1 {
  background-color: #cecece;
  height: calc(50% - 20px);
}

.box2 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  height: 50%;
}

.item {
  width: 25vw;
  background-color: #cecece;
  border-radius: 10px;
}

.br {
  border-radius: 10px;
}
