:root {
  --background-color: rgb(210, 210, 210);
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--background-color);
  padding: 10px;
}

main {
  display: flex;
  gap: 20px;
  margin: 20px;
  height: 85vh;
}

.m {
  margin: 20px;
}

.left {
  height: 100%;
  width: 20vw;
  display: inline;
  background-color: var(--background-color);
}

.right {
  height: 100%;
  display: inline;
  float: right;
  width: calc(100vw - 20vw - 20px);
}

h2 {
  text-align: center;
  padding: 10px;
}

.box1 {
  background-color: var(--background-color);
  height: calc(50% - 20px);
}

.box2 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
  height: 50%;
}

.item {
  width: 25vw;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.br {
  border-radius: 10px;
}

.bx {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tac {
  text-align: center;
}

.box1 {
  width: 100%;
  /* background-image: url("https://cdn.corporatefinanceinstitute.com/assets/line-graph.jpg") no-repeat; */
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

li {
    list-style-type: none;
    text-decoration: underline;
    text-underline-offset: 100px;
    display: pointer;
}